@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: #3E1CAC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%233E1CAC' cx='50' cy='0' r='50'/%3E%3Cg fill='%234e1bb1' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%235b1bb6' cx='50' cy='100' r='50'/%3E%3Cg fill='%23671abb' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%237119bf' cx='50' cy='200' r='50'/%3E%3Cg fill='%237b18c4' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%238417c9' cx='50' cy='300' r='50'/%3E%3Cg fill='%238c17cd' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%239416d1' cx='50' cy='400' r='50'/%3E%3Cg fill='%239b15d5' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a214d9' cx='50' cy='500' r='50'/%3E%3Cg fill='%23a913de' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b012e1' cx='50' cy='600' r='50'/%3E%3Cg fill='%23b611e5' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bc0fe9' cx='50' cy='700' r='50'/%3E%3Cg fill='%23c20eed' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c80df1' cx='50' cy='800' r='50'/%3E%3Cg fill='%23cd0bf4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d309f8' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d806fc' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

a{
    text-decoration: none;
}

.section{
    position: relative;
    width: 100%;
    padding: 4rem 2rem;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.container-left{
    position: relative;
    width: 50%;
    height: auto;
    padding: 2rem 1rem;
    text-align: left;
}
.container-right{
    position: relative;
    width: 50%;
    height: 100%;
}

.container-heading{
    position: relative;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 2.6rem;
    font-family: 'Roboto', sans-serif;
}
.container-desc{
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: darkslategrey;
    font-weight: 500;
}


.horizontal{
    flex-direction: row;
    justify-content: space-evenly;
}
.vertical{
    flex-direction: column;
    justify-content: center;
}


.section-heading{
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #FFF;
}


.hero{
    position: relative;
    width: 100%;
    height: 90vh;
    background: url('./img/herobg.jpg') center/cover no-repeat;
}
.hero-container{
    background-color: rgba(0,0,0,0.75);
    text-align: center;
    color: #FFF;
}
.hero-logo{
    position: relative;
    align-self: center;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
.hero-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: #FFF;
}
.hero-desc{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: #FFF;
}
.main-btn{
    position: relative;
    margin-top: 4rem;
    width: auto;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #229ED9;
    color: #FFF;
    font-weight: 500;
    border-radius: 28px;
    transition: all .3s ease-in-out;
}
.main-btn:hover{
    background: blue !important;
    transform: scaleX(1.1);
}


.poster{
    height: auto;
    background: url('./img/posterbg.png') center/cover no-repeat;
    color: #FFF;
}
.poster-container{
    margin-top: 4rem;
}
.poster-right{
    width: 50%;
    text-align: end;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.devices{
    position: relative;
    width: 720px;
}



.features-container{
    margin-top: 2rem;
    flex-wrap: wrap;
}
.features-item{
    position: relative;
    margin: 1rem;
    width: 280px;
    height: 320px;
    padding: 1rem;
    background-color: #FFF;
    border-radius: 16px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
.features-item:hover{
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
}
.features-item--img{
    position: relative;
    width: 96px;
    height: auto;
    margin-bottom: 2rem;
}
.features-item--title{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    text-align: center;
}
.features-item--desc{
    text-align: center;
}


.gallery{
    background: aqua;
}
.gallery h1{
    color: #000;
}
.gallery-img{
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}


.aboutus{
    height: 100vh;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    background-color: #FFF;
}
.aboutus-container{
    justify-content: space-between !important;
}
.about-right{
    background: url('./img/Patterns.svg') center/cover no-repeat;
}
.about-img{
    position: absolute;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    border-radius: 16px;
    transition: all .3s ease;
}
.about-img:hover{
    transform: scale(1.1);
}
.img1{
    top: 1rem;
    left: 0;
    width: 320px;
}
.img2{
    top: 0;
    right: 3rem;
    width: 240px;
    z-index: 2;
}
.img3{
    bottom: 1rem;
    left: 1rem;
    width: 340px;
}
.img4{
    bottom: 0;
    right: 0;
    width: 240px;
}

.contact{
    padding: 0;
    height: 100vh;
    background: url('./img/contactbg.jpg') center/cover no-repeat;
    background-attachment: fixed;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 50, 0.45);
}


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: rgb(40,0,20);
    color: #FFF;
}


@media (max-width: 768px) {

    .section{
        padding: 0rem;
    }
    .section-heading{
        margin-top: 2rem;
        font-size: 2rem;
    }

    .hero{
        height: 100vh;
    }
    .hero-heading{
        font-size: 2.4rem;
    }
    .hero-desc{
        font-size: 1rem;
    }

    .features-item{
        margin: 1rem 0;
    }

    .horizontal{
        flex-direction: column;
    }
    .container-left, .container-right{
        width: 100%;
        padding: 0;
    }

    .tagline{
        font-size: 1.2rem;
    }
    .poster-right{
        width: 100%;
        margin-top: 2rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .devices{
        width: 80vw;
    }
    

    .aboutus{
        padding-top: 6rem;
        height: 130vh;
    }
    .about-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-img{
        position: relative;
        width: 150px;
        box-shadow: none;
    }
    .img1{
        top: 0;
        left: 0;
        display: none;
    }
    .img2{
        top: 0;
        right: 0;
        display: none;
    }
    .img3{
        width: 100%;
        top: unset;
        left: unset;
    }
    .img4{
        bottom: 0;
        right: 0;
        display: none;
    }
    .container-desc{
        font-size: 1rem;
    }

    footer p{
        font-size: .5rem;
    }
}